<md-dialog class="compose-dialog" aria-label="Update">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title" >Idle</span>
                <!-- <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button> -->
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>

          <h2>Where did you go?</h2>

          <md-divider></md-divider>
            <p>
              You have been inactive for an whole hour so for safety reasons you were logged out.
              Don't worry you can easily log in again by clicking the button bellow.
            </p>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="vm.login()" class="send-button md-accent md-raised" aria-label="Add">
                   LOGIN
                </md-button>

            </div>

        </md-dialog-actions>
    </form>
</md-dialog>
