<div layout="row" layout-wrap>

  <div class="about" layout="column" flex="100" flex-gt-sm="100" flex-gt-md="100">
    <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
      <header class="md-accent-bg">
        <div class="title" translate="PROFILE.JOIN_COMMUNITY">Join a Community</div>
      </header>

      <div class="content">
        <div class="about" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65">

          <md-autocomplete md-selected-item="vm.selectedItem" md-search-text="vm.searchText" md-items="item in vm.getMatches(vm.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Choose a community">
            <md-item-template> <span md-highlight-text="vm.searchText">{{item.display}}</span>

            </md-item-template>
            <md-not-found>
              No community found.
            </md-not-found>
          </md-autocomplete>
        </div>

        <md-button class="md-raised md-primary" ng-click="vm.sendRequest()">Send request</md-button>
      </div>
    </div>

    <div class="profile-box info-box contact md-whiteframe-1dp" layout="column">
      <header class="md-accent-bg">
        <div class="title" translate="PROFILE.CREATE_COMMUNITY">Create a Community</div>
      </header>
      <div class="content">

        <md-input-container class="md-block" ng-if="vm.hasCommunity">
          <md-button ng-click="vm.openCommunityModal()" class="md-raised md-primary">Create a New Community</md-button>
        </md-input-container>

      </div>
    </div>
  </div>

</div>
