<div layout="row" layout-wrap>

    <div class="about" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65">
        <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg">
                <div class="title">User settings</div>
            </header>

            <div class="content">

              <md-input-container class="md-block">
                <h4>New Username</h4>
                <input ng-model="vm.form.username" type="text">
                <div ng-messages>
                  {{ vm.userExists }}
                </div>
                <md-button ng-click="vm.changeUsername()">Save</md-button>
              </md-input-container>


              <md-input-container class="md-block">
                <h4>Profile image</h4>
                <md-button type="file" ngf-select="vm.uploadFiles($file, $invalidFiles)" class="add-attachment-button" aria-label="add attachment" accept="image/*" ngf-max-height="1000" ngf-max-size="3MB">

                  <div layout="row" layout-align="start center">
                    <i class="icon-plus s20"></i>
                    <span>Upload profile image</span>
                  </div>
                </md-button>
              </md-input-container>

            <md-input-container class="md-block" ng-if="vm.hasCommunity">
              <h4>New community</h4>
              <md-button ng-click="vm.openCommunityModal()" class="md-raised md-primary">Create a New Community</md-button>
            </md-input-container>


             <!-- <md-button ng-click="vm.saveUserSettings()" class="save-button md-accent md-raised" aria-label="SAVE" ng-disabled="eventForm.$invalid || eventForm.$pristine" translate="CALENDAR.SAVE" translate-attr-aria-label="CALENDAR.SAVE">
               SAVE
             </md-button> -->

            </div>
        </div>


    </div>



</div>
