<div id="dashboard-project" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- HEADER -->
        <div class="header md-accent-bg" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="md-display-1 font-weight-300">{{vm.title}}</span>
                </div>

                <div class="toolbar">
                    <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                               aria-label="Toggle sidenav">
                        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                    </md-button>
                </div>
            </div>

            <div layout="row">
                <md-button ng-if="!vm.hasCommunity" ng-click="vm.openCommunityModal()" class="selected-project">{{vm.selectedProject.name}}</md-button>
                <md-button ng-if="!vm.hasCommunity" ng-click="vm.openJoinModal()" class="selected-project">Join a Community</md-button>

                <!-- <md-menu id="projects-menu" md-offset="0 48">
                    <md-button class="md-icon-button project-selector" ng-click="$mdOpenMenu()"
                               aria-label="Select project" md-menu-origin md-menu-align-target>
                        <md-icon md-font-icon="icon-dots-horizontal"></md-icon>
                    </md-button>

                    <md-menu-content width="3" class="md-background-bg">
                        <md-menu-item ng-repeat="project in vm.projects">
                            <md-button ng-click="vm.selectProject(project)" aria-label="{{project.name}}">
                                <span ng-class="{'secondary-text': vm.selectedProject == project}">{{project.name}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu> -->
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-dynamic-height>

                <md-tab label="Dashboard">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 1 -->
                        <ms-widget flippable="true"  ui-sref="app.appointments" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">

                                  <div class="h3">Today</div>
                                </div>

                                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{ vm.appointmentsToday }}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">APPOINTMENTS</div>
                                </div>

                            </ms-widget-front>
                            <!-- / Front -->

                            <!-- Back -->
                            <!-- <ms-widget-back class="p-16 white-bg">
                                <div class="flip-to-front">
                                    <md-button class="md-icon-button" ng-click="flipWidget()"
                                               aria-label="Flip widget">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>

                                <div>
                                    {{vm.widget1.detail}}
                                </div>
                            </ms-widget-back> -->
                            <!-- / Back -->

                        </ms-widget>
                        <!-- / WIDGET 1 -->

                        <!-- WIDGET 2 -->
                        <ms-widget flippable="true" ui-sref="app.residents" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <div class="h3">In the building</div>
                                </div>

                                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                    <div class="red-fg font-size-72 line-height-72">
                                        {{vm.residentCount}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">RESIDENTS</div>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                            <!-- Back -->
                            <ms-widget-back class="p-16 white-bg">
                                <div class="flip-to-front">
                                    <md-button class="md-icon-button" ng-click="flipWidget()"
                                               aria-label="Flip widget">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>

                                <div>
                                    {{vm.widget2.detail}}
                                </div>
                            </ms-widget-back>
                            <!-- / Back -->

                        </ms-widget>
                        <!-- / WIDGET 2 -->

                        <!-- WIDGET 3 -->
                        <ms-widget flippable="true" ui-sref="app.issues.boards.board" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <div class="h3">Issue count</div>
                                </div>

                                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                    <div class="orange-fg font-size-72 line-height-72">
                                        {{vm.issuesCount}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">OPEN ISSUES</div>
                                </div>


                            </ms-widget-front>
                            <!-- / Front -->

                            <!-- Back -->
                            <ms-widget-back class="p-16 white-bg">
                                <div class="flip-to-front">
                                    <md-button class="md-icon-button" ng-click="flipWidget()"
                                               aria-label="Flip widget">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>

                                <div>
                                    {{vm.widget3.detail}}
                                </div>
                            </ms-widget-back>
                            <!-- / Back -->

                        </ms-widget>
                        <!-- / WIDGET 3 -->



                    </div>
                    <!-- / WIDGET GROUP -->

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                      <!-- WIDGET 11 -->
                      <ms-widget layout="row" flex="100">

                          <!-- Front -->
                          <ms-widget-front class="white-bg">

                              <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                                  <div class="h2">Resident Statistics</div>
                                  <!-- <div class="text-boxed red-bg white-fg m-0">{{vm.pendingMemberWidget.table.rows.length}}
                                      members
                                  </div> -->
                              </div>

                              <table class="row-border hover">
                                  <thead>
                                      <tr>
                                          <th>Average age</th>
                                          <th>Average time stayed</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                        <td> {{ vm.averageAge }} years</td>
                                        <td>  Whole life </td>
                                      </tr>

                                  </tbody>
                              </table>

                          </ms-widget-front>
                          <!-- / Front -->

                      </ms-widget>
                      <!-- / WIDGET 11 -->


                    </div>
                    <!-- / WIDGET GROUP -->


                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 6 -->
                        <ms-widget layout="column" flex="100" flex-gt-sm="50">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">

                                <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                                    <div class="h3">{{vm.widget6.title}}</div>
                                    <div class="pv-16">
                                        <md-select class="simplified" ng-model="vm.widget6.currentRange"
                                                   ng-change="vm.widget6.changeRange(vm.widget6.currentRange)"
                                                   aria-label="Change range">
                                            <md-option ng-repeat="(key, range) in vm.widget6.ranges"
                                                       value="{{key}}">
                                                {{range}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>

                                <div class="p-16">
                                    <nvd3 class="h-400"
                                          config="vm.widget6.mainChart.config"
                                          options="vm.widget6.mainChart.options"
                                          data="vm.widget6.mainChart.data"></nvd3>
                                </div>

                                <div class="pv-8 mh-16 border-top" layout="row" layout-align="start center" layout-wrap>
                                    <div class="pv-8 border-right" layout="column" layout-align="center center"
                                         flex="100" flex-gt-xs="50">
                                        <span class="font-size-32">{{vm.widget6.footerLeft.count[vm.widget6.currentRange]}}</span>
                                        <span class="h4">{{vm.widget6.footerLeft.title}}</span>
                                    </div>

                                    <div class="pv-8" layout="column" layout-align="center center" flex="100"
                                         flex-gt-xs="50">
                                        <span class="font-size-32">{{vm.widget6.footerRight.count[vm.widget6.currentRange]}}</span>
                                        <span class="h4">{{vm.widget6.footerRight.title}}</span>
                                    </div>
                                </div>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 6 -->

                        <!-- WIDGET 7 -->
                        <ms-widget layout="column" flex="100" flex-gt-sm="50">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">

                                <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                                    <div class="h3">{{vm.widget7.title}}</div>

                                    <div class="pv-16">
                                        <md-select class="simplified" ng-model="vm.widget7.currentRange"
                                                   aria-label="Change range">
                                            <md-option ng-repeat="(key, range) in vm.widget7.ranges"
                                                       value="{{key}}">
                                                {{range}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>

                                <div class="p-16" layout="row" layout-align="space-between center"
                                     ng-repeat="event in vm.widget7.schedule[vm.widget7.currentRange]">
                                    <div>
                                        <div class="h3">{{event.title}}</div>
                                        <div>
                                            <span class="secondary-text">{{event.time}}</span>
                                            <span ng-if="event.location">, {{event.location}}</span>
                                        </div>
                                    </div>

                                    <md-button class="md-icon-button" aria-label="More information">
                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                </div>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 7 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>

                <md-tab label="Community Members">

                  <div ng-switch on="vm.userRole">

                    <div ng-switch-when="creator">
                      <div class="widget-group" layout="row" flex="100" layout-wrap ng-include="'app/main/dashboard/tables/creator_table.html'">
                      </div>
                    </div>

                    <div ng-switch-when="boss">
                      <div class="widget-group" layout="row" flex="100" layout-wrap ng-include="'app/main/dashboard/tables/boss_table.html'">
                      </div>
                    </div>

                    <div ng-switch-when="directors">
                      <div class="widget-group" layout="row" flex="100" layout-wrap ng-include="'app/main/dashboard/tables/directors_table.html'">
                      </div>
                    </div>

                    <div ng-switch-when="minions">
                      <div class="widget-group" layout="row" flex="100" layout-wrap ng-include="'app/main/dashboard/tables/minions_table.html'">
                      </div>
                    </div>

                  </div>
                  <!-- / WIDGET GROUP -->

                </md-tab>

                <md-tab label="Pending Members">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 11 -->
                        <ms-widget layout="row" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">

                                <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                                    <div class="h2">{{vm.pendingMemberWidget.title}}</div>
                                    <div class="text-boxed red-bg white-fg m-0">{{vm.pendingMemberWidget.table.rows.length}}
                                        members
                                    </div>
                                </div>

                                <table class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text"
                                                ng-repeat="column in vm.pendingMemberWidget.table.columns">
                                                <div class="table-header">
                                                    <span class="column-title">{{column.title}}</span>
                                                </div>
                                            </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in vm.pendingMemberWidget.table.rows">
                                            <td ng-repeat="cell in row">
                                                <img class="avatar" ng-if="$index === 0"
                                                     ng-src="{{cell}}">
                                                <span ng-if="$index != 0 && $index != 3">
                                                    {{cell}}
                                                </span>
                                            </td>
                                          <td><md-button ng-disabled="vm.userRole === 'minions'" class="md-raised md-primary" ng-click="vm.acceptMember($index, row)"> Accept </md-button></td>
                                          <td><md-button ng-disabled="vm.userRole === 'minions'" class="md-raised md-warn" ng-click="vm.declineMember($index, row[3])"> Decline </md-button></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 11 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>


                <md-tab label="Community Settings">

                  <!-- WIDGET GROUP -->
                  <div class="widget-group" layout="row" flex="100" layout-wrap>

                      <!-- WIDGET 11 -->
                      <ms-widget layout="row" flex="100">

                          <!-- Front -->
                          <ms-widget-front class="white-bg">

                              <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                                  <div class="h2">Billing informaton</div>
                                  <button ng-click="vm.updateBillingModal()" ng-if="vm.customerData.status && !vm.subscriptionCanceled" class="text-boxed red-bg white-fg m-0">Update
                                  </button>
                              </div>

                              <div class="content" ng-if="vm.customerData.status && !vm.subscriptionCanceled">
                                  <div class="info-line">
                                      <h2>Credit card number: **** **** **** {{ vm.customerData.customer.sources.data[0].last4}}</h2>
                                      <h2>Credit card holer: {{ vm.customerData.customer.description}}</h2>
                                      <span ng-if="vm.customerData.customer.subscriptions.data[0].status === 'trialing'">
                                        <h2> You are in the trail period </h2>
                                        <h2>Trial ends at : {{ vm.trialEndDate }}</h2>
                                      <span>

                                      <span ng-if="vm.customerData.customer.subscriptions.data[0].status !== 'trialing'">
                                        <h2>Next Billing date : {{ vm.billingDate }}</h2>
                                      <span>

                                  </div>

                                  <md-input-container class="md-block">
                                    <md-button ng-click="vm.cancelSubscription()" class="md-raised md-primary">Cancel subscription</md-button>
                                  </md-input-container>

                              </div>

                              <div class="content" ng-if="!vm.customerData.status">
                                <h2>You haven't got any billing information.</h2>
                              </div>

                              <div class="content" ng-if="vm.subscriptionCanceled">
                                <h2>You have cancelled your subscription</h2>
                              </div>

                          </ms-widget-font>

                      </ms-widget>

                    </div>

                </md-tab>

            </md-tabs>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav"
                ms-scroll ms-sidenav-helper>

        <!-- WIDGET GROUP -->
        <div class="widget-group">

            <!-- NOW WIDGET -->
            <ms-widget flippable="false" class="sidenav-widget">

                <!-- Front -->
                <ms-widget-front>

                    <div class="pl-16 pr-8 pv-16" layout="row" layout-align="space-between center">
                        <div class="h3">{{vm.nowWidget.now.weekDay}},
                            {{vm.nowWidget.now.hour}}:{{vm.nowWidget.now.minute}}:{{vm.nowWidget.now.second}}
                        </div>

                        <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" md-menu-origin
                                       md-menu-align-target
                                       aria-label="Options">
                                <md-icon md-font-icon="icon-dots-vertical" class="icon"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
                                        Settings
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="p-16 pb-24" layout="column" layout-align="center center">
                        <div class="h1 secondary-text">
                            <span>{{vm.nowWidget.now.month}}</span>
                        </div>

                        <div class="font-size-72 line-height-88 secondary-text font-weight-400">
                            {{vm.nowWidget.now.day}}
                        </div>

                        <div class="h1 secondary-text">
                            <span>{{vm.nowWidget.now.year}}</span>
                        </div>
                    </div>

                    <md-divider></md-divider>

                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / NOW WIDGET -->


            <!-- WEATHER WIDGET -->
            <!-- <ms-widget flippable="false" class="sidenav-widget">

                <ms-widget-front>

                    <div class="pl-16 pr-8 pv-16" layout="row" layout-align="space-between center">
                        <div class="h4">
                            <md-icon md-font-icon="icon-map-marker" class="icon mr-8"></md-icon>
                            {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].name}}
                        </div>

                        <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" md-menu-origin
                                       md-menu-align-target
                                       aria-label="Options">
                                <md-icon md-font-icon="icon-dots-vertical" class="icon"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
                                        Settings
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="p-16 pb-32" layout="column" layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <md-icon
                                    md-font-icon="{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].icon}}"
                                    class="icon s40 mr-16"></md-icon>
                            <span class="md-display-2 font-weight-300 secondary-text">
                                {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].temp[vm.weatherWidget.tempUnit]}}
                            </span>
                            <span class="font-size-48 font-weight-300 hint-text text-super ml-8">&deg;</span>
                            <span class="md-display-2 font-weight-300 hint-text">{{vm.weatherWidget.tempUnit}}</span>
                        </div>
                    </div>

                    <div class="grey-300-bg p-16" layout="row" layout-align="space-between center">
                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-weather-windy" class="icon mr-8 s20"></md-icon>
                            <span>
                                {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].windSpeed[vm.weatherWidget.speedUnit]}}
                            </span>
                            <span class="secondary-text ml-5">{{vm.weatherWidget.speedUnit}}</span>
                        </div>

                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-compass-outline" class="icon mr-8 s20"></md-icon>
                            <span>{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].windDirection}}</span>
                        </div>

                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-umbrella" class="icon mr-8 s20"></md-icon>
                            <span>{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].rainProbability}}</span>
                        </div>
                    </div>

                    <div class="pv-16">
                        <div class="pv-16 ph-24" layout="row" layout-align="space-between center"
                             ng-repeat="day in vm.weatherWidget.locations[vm.weatherWidget.currentLocation].next3Days">
                            <span class="h4">{{day.name}}</span>
                            <div layout="row" layout-align="start center">
                                <md-icon class="mr-16" md-font-icon="{{day.icon}}" class="icon"></md-icon>
                                <span class="h2">{{day.temp[vm.weatherWidget.tempUnit]}}</span>
                                <span class="h2 font-weight-300 secondary-text text-super">&deg;</span>
                                <span class="h2 font-weight-300 secondary-text">{{vm.weatherWidget.tempUnit}}</span>
                            </div>
                        </div>
                    </div>

                    <md-divider></md-divider>

                </ms-widget-front>


            </ms-widget> -->
            <!-- / WEATHER WIDGET -->

        </div>
        <!-- / WIDGET GROUP -->

    </md-sidenav>
    <!-- / SIDENAV -->

</div>
