<md-dialog class="compose-dialog" aria-label="Update">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title" >Add Community</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
          <md-input-container class="md-block">
              <label>Community Name</label>
              <input ng-model="vm.form.name" type="text">
          </md-input-container>

          <h2>Please enter your credit card info to subscribe</h2>

          <md-divider></md-divider>
            <p>
              By entering your credit card you are subscribing to our service, you will be billed monthly
              200000000$ but dont worry the first 30 days are free.
            </p>


          <md-input-container class="md-block">
              <label>Card number</label>
              <input ng-model="vm.cardInfo.number" cc-number cc-format cc-type="cardType" maxlength="20" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Expiration (Months format MM)</label>
              <input ng-model="vm.cardInfo.exp_month" cc-exp-month maxlength="2" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Expiration (Years format YY)</label>
              <input ng-model="vm.cardInfo.exp_year" cc-exp-year  maxlength="2" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>CVC</label>
              <input ng-model="vm.cardInfo.cvc" cc-cvc type="number" maxlength="4" md-minlength="3"  md-minlength="3">
              <div ng-messages="vm.cardInfo.cvc.$error" role="alert">
                 <div ng-message="required">
                     <span>Firstname field is required.</span>
                 </div>
             </div>
          </md-input-container>


        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="vm.addCommunity()" class="send-button md-accent md-raised" aria-label="Add">
                    ADD COMMUNITY
                </md-button>
            </div>

        </md-dialog-actions>
    </form>
</md-dialog>
