<md-dialog class="compose-dialog" aria-label="Update">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title" >Add Community</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
          <md-input-container class="md-block">
              <label>Name</label>
              <input ng-model="vm.form.name" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Card number</label>
              <input ng-model="vm.cardInfo.number" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Expiration (Months)</label>
              <input ng-model="vm.cardInfo.exp_month" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Expiration (Years)</label>
              <input ng-model="vm.cardInfo.exp_year" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>CVC</label>
              <input ng-model="vm.cardInfo.cvc" type="text">
          </md-input-container>


        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="vm.addCommunity()" class="send-button md-accent md-raised" aria-label="Add">
                    ADD COMMUNITY
                </md-button>
            </div>

        </md-dialog-actions>
    </form>
</md-dialog>
