
    <!-- WIDGET 11 -->
    <ms-widget layout="row" flex="100">

        <!-- Front -->
        <ms-widget-front class="white-bg">

            <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                <div class="h2">{{vm.communityMemberWidget.title}}</div>
                <div class="text-boxed red-bg white-fg m-0">{{vm.communityMemberWidget.table.rows.length}}
                    members
                </div>
            </div>

            <table class="row-border hover" datatable="ng" dt-options="vm.communityMemberWidget.dtOptions">
                <thead>
                    <tr>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title"></span>
                          </div>
                      </th>

                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Name</span>
                          </div>
                      </th>

                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Email</span>
                          </div>
                      </th>

                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Director</span>
                          </div>
                      </th>

                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Minion</span>
                          </div>
                      </th>

                      <th class="secondary-text" ng-if="vm.bothRoles == 2">
                          <div class="table-header">
                              <span class="column-title">Boss</span>
                          </div>
                      </th>

                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Recover</span>
                          </div>
                      </th>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Remove</span>
                          </div>
                      </th>


                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title"></span>
                          </div>
                      </th>


                    </tr>
                </thead>
                <tbody>
                    <md-radio-group ng-model="data.group1">
                    <tr ng-repeat="row in  vm.communityMemberWidget.table.rows track by $index">
                      <!-- User image -->
                      <td>
                        <img class="avatar"
                             ng-src="{{row[0] }}">
                      </td>

                      <!-- User name -->
                      <td>
                        <span> {{ row[1]}} </span>
                      </td>

                      <!-- User email -->
                      <td>
                        <span> {{ row[2]}} </span>
                      </td>

                      <!-- Director checkbox -->
                      <td>
                        <span ng-if="row[1] !== vm.username">
                          <input type="radio" ng-value="true" name="group {{ $index}}" ng-model="row[5]" ng-change="vm.addRole(row[3], 'directors')" value="Director"> Director<br>
                       </span>
                      </td>

                      <!-- Minions checkbox -->
                      <td>
                        <span ng-if="row[1] !== vm.username">
                          <input type="radio"  ng-value="true" name="group {{ $index}}" ng-model="row[6]" ng-change="vm.addRole(row[3], 'minions')" value="Minion"> Minion<br>
                        </span>
                      </td>

                      <!-- Boss checkbox shows up only if the user is also a creator -->
                      <td ng-if="vm.bothRoles == 2">
                        <input type="radio" name="creator" ng-value="true" ng-model="row[4]" ng-change="vm.addRole(row[3], 'boss')"> Boss<br>
                      </td>

                      <!-- Recovery button -->
                      <td>
                        <md-button ng-if="row[1] !== vm.username" ng-click="vm.openRecoverModal(row[3], row[1], 'boss')" class="md-raised md-primary">Recover</md-button>
                      </td>

                      <!-- Remove member button -->
                      <td>
                        <md-button ng-if="row[1] !== vm.username" class="md-raised" ng-click="vm.removeMember(row[3], row[1])">Remove</md-button>
                      </td>

                      <!-- Confidential you were choosen to enter recovery pass as random user -->
                      <td>
                        <span ng-if="vm.chosenUser == row[3]">
                          <md-icon md-menu-origin md-font-icon="icon-account-key"></md-icon>
                        </span>

                      </td>


                    </tr>
                  </md-radio-group>
                </tbody>
            </table>

        </ms-widget-front>
        <!-- / Front -->

    </ms-widget>
    <!-- / WIDGET 11 -->
