
    <!-- WIDGET 11 -->
    <ms-widget layout="row" flex="100">

        <!-- Front -->
        <ms-widget-front class="white-bg">

            <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                <div class="h2">{{vm.communityMemberWidget.title}}</div>
                <div class="text-boxed red-bg white-fg m-0">{{vm.communityMemberWidget.table.rows.length}}
                    members
                </div>
            </div>

            <table class="row-border hover">
                <thead>
                    <tr>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Confidental</span>
                          </div>
                      </th>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Remove</span>
                          </div>
                      </th>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Director</span>
                          </div>
                      </th>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Minion</span>
                          </div>
                      </th>
                        <th class="secondary-text"
                            ng-repeat="column in  vm.communityMemberWidget.table.columns">
                            <div class="table-header">
                                <span class="column-title">{{column.title}}</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <md-radio-group ng-model="data.group1">
                    <tr ng-repeat="row in  vm.communityMemberWidget.table.rows track by $index">
                      <span ng-if="true">
                      <td>
                        <md-button ng-if="row[1] !== vm.username" ng-click="vm.openRecoverModal()" class="md-raised md-primary">Recover</md-button>
                      </td>

                      <td>
                        <md-button ng-if="row[1] !== vm.username" class="md-raised md-primary" ng-click="vm.removeMember(row[3], row[1])">Remove</md-button>
                      </td>

                      <td>
                        <span ng-if="row[1] !== vm.username && row[7] !== true">
                          <input type="radio" ng-value="true" name="group {{ $index}}" ng-model="row[5]" ng-change="vm.addRole(row[3], 'directors')" value="Director"> Director<br>
                       </span>
                       <span ng-if="row[7] === true">
                         Creator
                       </span>
                      </td>

                      <td>
                        <span ng-if="row[1] !== vm.username && row[7] !== true">
                          <input type="radio"  ng-value="true" name="group {{ $index}}" ng-model="row[6]" ng-change="vm.addRole(row[3], 'minions')" value="Minion"> Minion<br>
                        </span>
                        <span ng-if="row[7] === true">
                          Creator
                        </span>
                      </td>
                    </span>

                        <td ng-repeat="cell in row track by $index">
                            <img class="avatar" ng-if="$index === 0"
                                 ng-src="{{cell}}">
                            <span ng-if="$index != 0 && $index < 3">
                                {{cell}}
                            </span>
                        </td>

                    </tr>
                  </md-radio-group>
                </tbody>
            </table>

        </ms-widget-front>
        <!-- / Front -->

    </ms-widget>
    <!-- / WIDGET 11 -->
