
    <!-- WIDGET 11 -->
    <ms-widget layout="row" flex="100">

        <!-- Front -->
        <ms-widget-front class="white-bg">

            <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                <div class="h2">{{vm.communityMemberWidget.title}}</div>
                <div class="text-boxed red-bg white-fg m-0">{{vm.communityMemberWidget.table.rows.length}}
                    members
                </div>
            </div>

            <table class="row-border hover" datatable="ng" dt-options="vm.communityMemberWidget.dtOptions">
                <thead>
                    <tr>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title"></span>
                          </div>
                      </th>

                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Name</span>
                          </div>
                      </th>

                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Email</span>
                          </div>
                      </th>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Role</span>
                          </div>
                      </th>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Boss</span>
                          </div>
                      </th>
                    </tr>
                </thead>
                <tbody>
                    <md-radio-group ng-model="data.group1">
                    <tr ng-repeat="row in  vm.communityMemberWidget.table.rows">

                      <!-- User image -->
                      <td>
                        <img class="avatar"
                             ng-src="{{row[0] }}">
                      </td>

                      <!-- User name -->
                      <td>
                        <span> {{ row[1]}} </span>
                      </td>

                      <!-- User email -->
                      <td>
                        <span> {{ row[2]}} </span>
                      </td>

                      <!-- User role -->
                      <td>
                        <span> {{ row[8] }} </span>
                      </td>

                      <!-- Boss checklist -->
                      <td>
                        <input type="radio" name="creator" ng-value="true" ng-model="row[4]" ng-change="vm.addRole(row[3], 'boss')"> Boss<br>
                      </td>

                    </tr>
                  </md-radio-group>
                </tbody>
            </table>

        </ms-widget-front>
        <!-- / Front -->

    </ms-widget>
    <!-- / WIDGET 11 -->
