<md-dialog class="compose-dialog" aria-label="Update">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Update Resident - Psychosocial</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>

      <div layout="column" layout-align="start start">
          <h4>Psychosocial Status (check all that apply) </h4>

          <md-checkbox ng-repeat="status in vm.status" ng-model="status.active">
            {{ status.title}}
          </md-checkbox>
      </div>

      <md-input-container class="md-block">
        <label>Describe the Psychosocial Status</label>
        <input ng-model="vm.form.psychosocialStatusDescribe" type="text">
      </md-input-container>

      <div class="md-block">
        <label ng-switch on="vm.form.comprehension">
            <span ng-switch-when="0">Comprehension : Slow</span>
            <span ng-switch-when="1">Comprehension : Moderate</span>
            <span ng-switch-when="2">Comprehension : Quick</span>
            <span ng-switch-default>Comprehension : </span>
        </label>
        <md-slider flex min="0" max="2" ng-model="vm.form.comprehension" aria-label="blue">
        </md-slider>
      </div>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.sunDowner">
          Sun Downer
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.sunDowner == true">
        <label>Sun Downer Explain</label>
        <input ng-model="vm.form.sunDownerExplain" type="text">
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.wanderer">
          Wanderer
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.anxiety">
          Anxiety
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.anxiety == true">
        <label>Antipsychotic Meds</label>
        <input ng-model="vm.form.antipsychoticMeds" type="text">
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.smokes" ng-hide="vm.showCancel" aria-label="Smokes">
          Smokes
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.smokes">
        <label>Smoke Description</label>
        <input ng-model="vm.form.smokesDescribe" type="text">
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.alcohol" ng-hide="vm.showCancel" aria-label="Smokes">
          Alcohol
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.alcohol">
        <label>Alcohol In Room</label>
        <input ng-model="vm.form.alcoholInRoom" type="text">
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.alcohol">
        <label>Alcohol Description</label>
        <input ng-model="vm.form.alcoholDescribes" type="text">
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.sexualActive" ng-hide="vm.showCancel" aria-label="Smokes">
          Sexual Active
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.sexualActive">
        <label>Sexual Activity Description</label>
        <input ng-model="vm.form.sexualActiveDescribe" type="text">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Other Habits</label>
        <input ng-model="vm.form.otherHabits" type="text">
      </md-input-container>

      <div class="md-block">
       <label ng-switch on="vm.form.generalActivityParticipation">
           <span ng-switch-when="0">General Activity Participation : Never</span>
           <span ng-switch-when="1">General Activity Participation : Sometimes</span>
           <span ng-switch-when="2">General Activity Participation : Good</span>
           <span ng-switch-when="3">General Activity Participation : Amazing</span>
           <span ng-switch-default>General Activity Participation : </span>
       </label>
       <md-slider flex min="0" max="3" ng-model="vm.form.generalActivityParticipation" aria-label="blue">
       </md-slider>
     </div>

     <div class="md-block">
      <label ng-switch on="vm.form.diningRoomParticipation">
          <span ng-switch-when="0">Dining Room Participation : Never</span>
          <span ng-switch-when="1">Dining Room Participation : Sometimes</span>
          <span ng-switch-when="2">Dining Room Participation : Good</span>
          <span ng-switch-when="3">Dining Room Participation : Amazing</span>
          <span ng-switch-default>Dining Room Participation : </span>
      </label>
      <md-slider flex min="0" max="3" ng-model="vm.form.diningRoomParticipation" aria-label="blue">
      </md-slider>
    </div>

    <div class="md-block">
     <label ng-switch on="vm.form.busRideParticipation">
         <span ng-switch-when="0">Bus Ride Participation : Never</span>
         <span ng-switch-when="1">Bus Ride Participation : Sometimes</span>
         <span ng-switch-when="2">Bus Ride Participation : Good</span>
         <span ng-switch-when="3">Bus Ride Participation : Amazing</span>
         <span ng-switch-default>Bus Ride Participation : </span>
     </label>
     <md-slider flex min="0" max="3" ng-model="vm.form.busRideParticipation" aria-label="blue">
     </md-slider>
   </div>

   <div class="md-block">
    <label ng-switch on="vm.form.fitnessClassParticipation">
        <span ng-switch-when="0">Fitness Class Participation : Never</span>
        <span ng-switch-when="1">Fitness Class Participation : Sometimes</span>
        <span ng-switch-when="2">Fitness Class Participation : Good</span>
        <span ng-switch-when="3">Fitness Class Participation : Amazing</span>
        <span ng-switch-default>Fitness Class Participation :</span>
    </label>
    <md-slider flex min="0" max="3" ng-model="vm.form.fitnessClassParticipation" aria-label="blue">
    </md-slider>
  </div>

  <div class="md-block">
   <label ng-switch on="vm.form.bingoParticipation">
       <span ng-switch-when="0">Bingo Participation : Never</span>
       <span ng-switch-when="1">Bingo Participation : Sometimes</span>
       <span ng-switch-when="2">Bingo Participation : Good</span>
       <span ng-switch-when="3">Bingo Participation : Amazing</span>
       <span ng-switch-default>Bingo Participation : </span>
   </label>
   <md-slider flex min="0" max="3" ng-model="vm.form.bingoParticipation" aria-label="blue">
   </md-slider>
 </div>

 <div class="md-block">
  <label ng-switch on="vm.form.communityParticipation">
      <span ng-switch-when="0">Community Participation : Never</span>
      <span ng-switch-when="1">Community Participation : Sometimes</span>
      <span ng-switch-when="2">Community Participation : Good</span>
      <span ng-switch-when="3">Community Participation : Amazing</span>
      <span ng-switch-default>Community Participation :</span>
  </label>
  <md-slider flex min="0" max="3" ng-model="vm.form.communityParticipation" aria-label="blue">
  </md-slider>
</div>


      <md-input-container>
        <label>Time in Room</label>
        <md-select ng-model="vm.form.timeInRoom">
          <md-option>Reading</md-option>
          <md-option>TV</md-option>
          <md-option>Game</md-option>
          <md-option>Hobby</md-option>
          <md-option>Computer</md-option>
          <md-option>Radio</md-option>
          <md-option>Other</md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.volunteer" aria-label="Volunteer">
          Volunteer
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.drivesCar" ng-hide="vm.showCancel" aria-label="Smokes">
          Has Car
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.drivesCar">
        <label>License Plate Number</label>
        <input ng-model="vm.form.licensePlateNumber" type="number">
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.drivesCar">
        <label>Spare Key Location</label>
        <input ng-model="vm.form.spareKeyLocation" type="text">
      </md-input-container>

      <md-input-container class="md-block" ng-if="vm.form.drivesCar">
        <label>Driving Needs</label>
        <input ng-model="vm.form.drivingNeeds" type="text">
      </md-input-container>

      <md-input-container>
        <label>Preferred Activites</label>
        <input ng-model="vm.form.preferedActivites" type="text">
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.useFitnessEquipmentIndependently" aria-label="Smokes">
          Uses Fitness Equipment Independently
        </md-checkbox>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.form.highMaintenance" aria-label="Smokes">
          High Maintenance
        </md-checkbox>
      </md-input-container>

      <md-input-container>
        <label>Family Involvement</label>
        <md-select ng-model="vm.form.familyInvolvement">
          <md-option>None</md-option>
          <md-option>Some</md-option>
          <md-option>Frequent</md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex class="md-block textarea-container">
        <label>Notes</label>
        <textarea ng-model="vm.form.psychosocialNotes"></textarea>
      </md-input-container>

      <div class="md-block">
       <label ng-switch on="vm.form.dementia">
           <span ng-switch-when="0">Dementia : None</span>
           <span ng-switch-when="1">Dementia : Mild</span>
           <span ng-switch-when="2">Dementia : Moderate</span>
           <span ng-switch-when="3">Dementia : Severe</span>
       </label>
       <md-slider flex min="0" max="3" ng-model="vm.form.dementia" aria-label="blue">
       </md-slider>
     </div>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button ng-click="vm.updateResident()" class="send-button md-accent md-raised" aria-label="Add">
          UPDATE
        </md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
