<md-dialog class="compose-dialog" aria-label="Update">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Update resident - Allergy</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>

        <md-input-container class="md-block">
          <md-checkbox ng-model="vm.form.hasFoodAllergies" ng-hide="vm.showCancel" aria-label="">
            Has Food Allergies
          </md-checkbox>
        </md-input-container>

        <md-chips ng-if="vm.form.hasFoodAllergies" md-separator-keys="vm.seperators" ng-model="vm.foodAllergies" md-on-add="vm.updateChip(vm.foodAllergies,'foodAllergies', $chip, 'add')" md-on-remove="vm.updateChip(vm.foodAllergies,'foodAllergies', $chip, 'remove')" md-removable="true" readonly="false" placeholder="Add new food">
        </md-chips>

        <md-input-container class="md-block">
          <md-checkbox ng-model="vm.form.hasMedicationAllergies" ng-hide="vm.showCancel" aria-label="">
            Has Medication Allergies
          </md-checkbox>
        </md-input-container>


      <md-chips ng-if="vm.form.hasMedicationAllergies" md-separator-keys="vm.seperators" ng-model="vm.medicationAllergies" md-on-add="vm.updateChip(vm.medicationAllergies, 'medicationAllergies', $chip, 'add')" md-on-remove="vm.updateChip(vm.medicationAllergies, 'medicationAllergies', $chip, 'remove')" md-removable="true" readonly="false" placeholder="Add new food">
      </md-chips>

      <md-chips md-separator-keys="vm.seperators" ng-model="vm.form.otherAllergies" md-on-add="vm.updateChip(vm.otherAllergies,'otherAllergies', $chip, 'add')" md-on-remove="vm.updateChip(vm.otherAllergies,'otherAllergies', $chip, 'remove')" md-removable="true" readonly="false" placeholder="Add other allergies">
      </md-chips>

      <md-input-container flex class="md-block textarea-container">
        <label>Notes</label>
        <textarea ng-model="vm.form.allergyNotes"></textarea>
      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button ng-click="vm.updateResident()" class="send-button md-accent md-raised" aria-label="Add">
          UPDATE
        </md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
