<div ng-if="vm.selectedResident === null">
  <h3>Select a resident to view details </h3>
</div>

<div ng-if="vm.selectedResident !== null">
  <div class="mail-header">
    <div class="subject" flex>{{vm.selectedCategory}}</div>
  </div>

  <div class="mail-content">
    <div class="info" layout="row" layout-align="space-between start">

      <div layout="column" layout-align="start start">

        <!-- Add details content here -->
        <h4>Type of Bathing: {{ vm.selectedResident.typeOfBathing }}</h4>
        <h4>Time of Bathing: {{ vm.selectedResident.timeOfBathing }}</h4>

        <h4 ng-switch on="vm.selectedResident.frequencyOfBathing">
            <span ng-switch-when="0">Frequency of Bathing : No Bathing</span>
            <span ng-switch-when="1">Frequency of Bathing : Once a week</span>
            <span ng-switch-when="2">Frequency of Bathing : Twice a week</span>
            <span ng-switch-when="3">Frequency of Bathing : Every other day</span>
            <span ng-switch-when="4">Frequency of Bathing : Everyday</span>
            <span ng-switch-default>Frequency of Bathing :</span>
        </h4>

        <h4>Acceptance of Bathing: {{ vm.selectedResident.acceptanceOfBathing }}</h4>
        <h4 ng-if="vm.selectedResident.acceptanceOfBathing == 'Dislikes'">
          Why Dislikes Bathing: {{ vm.selectedResident.dislikesBathingDescribe }}
        </h4>
        <h4>Notes: {{ vm.selectedResident.bathingNotes }} </h4>

      </div>
    </div>
  </div>
</div>
