<div ng-if="vm.selectedResident === null">
  <h3>Select a resident to view details </h3>
</div>

<div ng-if="vm.selectedResident !== null">
  <div class="mail-header">
    <div class="subject" flex>{{vm.selectedCategory}}</div>
  </div>

  <div class="mail-content">
    <div class="info" layout="row" layout-align="space-between start">

      <div layout="column" layout-align="start start">

        <!-- Add details content here -->
        <h4>Use of Assistive Device: {{ vm.selectedResident.insideApartment.useOfAssistiveDevice }}</h4>
        <h4>Assitance with Device: {{ vm.selectedResident.insideApartment.assitanceWithDevice }}</h4>
        <h4>Special Ambulation Needs: {{ vm.selectedResident.insideApartment.specialAmbulationNeeds }}</h4>

        <h4>Transfer Pole: {{vm.selectedResident.transferPole}}</h4>
        <h4>Lift Recliner Chair: {{vm.selectedResident.liftReclinerChair}}</h4>
        <h4>Transfer Lift: {{vm.selectedResident.transferLift}}</h4>
        <h4>Side Rails: {{vm.selectedResident.sideRails}}</h4>
        <h4>Mobility Safety Assessment: {{vm.selectedResident.mobilitySafetyAssessment}}</h4>

        <h4>Use of Assistive Device: {{ vm.selectedResident.outsideApartment.useOfAssistiveDevice }}</h4>
        <h4>Assitance with Device: {{ vm.selectedResident.outsideApartment.assitanceWithDevice }}</h4>
        <h4>Special Ambulation Needs: {{ vm.selectedResident.outsideApartment.specialAmbulationNeeds}}</h4>
        <h4>Transfers: {{ vm.selectedResident.transfers }}</h4>
        <h4>Fall Risk: {{ vm.selectedResident.fallRisk }}</h4>
        <h4 ng-if="vm.selectedResident.fallRisk">
          Fall Risk Description : {{ vm.selectedResident.fallRiskDescribe }}
        </h4>
        <h4>Bed Reposition : {{ vm.selectedResident.bedReposition }}</h4>

        <h4>Bed Reposition Explain: {{vm.selectedResident.bedRepositionExplain}}</h4>
        <h4>Bed Reposition Outside Agency: {{vm.selectedResident.bedRepositionOutsideAgency}}</h4>
        <h4>Two Person Lift: {{vm.selectedResident.twoPersonLift}}</h4>

        <h4>Notes: {{ vm.selectedResident.mobilityNotes }} </h4>

      </div>
    </div>
  </div>
</div>
