<div ng-if="vm.selectedResident === null">
  <h3>Select a resident to view details </h3>
</div>

<div ng-if="vm.selectedResident !== null">
  <div class="mail-header">
    <div class="subject" flex>{{vm.selectedCategory}}</div>
  </div>

  <div class="mail-content">
    <div class="info" layout="row" layout-align="space-between start">

      <div layout="column" layout-align="start start">

        <!-- Add details content here -->
        <h4 ng-switch on="vm.selectedResident.overallNutrition">
            <span ng-switch-when="0">Overall Nutrition : Not Eating</span>
            <span ng-switch-when="1">Overall Nutrition : Poor</span>
            <span ng-switch-when="2">Overall Nutrition : Good</span>
            <span ng-switch-when="3">Overall Nutrition : Over Eating</span>
            <span ng-switch-default>Overall Nutrition : </span>
        </h4>

        <h4>Poor Nutrition Describtion: {{ vm.selectedResident.poorNutritionDescribe }}</h4>
        <h4>Diabetic: {{ vm.selectedResident.diabetic }}</h4>
        <h4>Diabetic Type: {{ vm.selectedResident.diabeticType }}</h4>
        <h4>Blood Sugar Monitoring: {{ vm.selectedResident.bloodSugarMonitoring }}</h4>
        <h4>Bedtime Snack: {{ vm.selectedResident.bedtimeSnack }}</h4>
        <h4>Adaptive Equipment: {{ vm.selectedResident.adaptiveEquipment }}</h4>
        <h4>Needs Food in Small Peices: {{ vm.selectedResident.needsFoodInSmallPeices }}</h4>
        <h4>Type of Diet: {{ vm.selectedResident.typeOfDiet }}</h4>
        <h4>Finger Foods: {{ vm.selectedResident.fingerFoods }}</h4>

        <h4>Food Likes:
            <md-chips ng-model="vm.selectedResident.foodLikes" readonly="true">
        </h4>

        <h4>Food Dislikes :
          <md-chips ng-model="vm.selectedResident.foodDislikes" readonly="true">
        </h4>

        <h4>Feed Assist: {{vm.selectedResident.feedAssist}}</h4>
        <h4>Food In Room: {{vm.selectedResident.foodInRoom}}</h4>
        <h4>Drink In Room: {{vm.selectedResident.drinkInRoom}}</h4>

        <h4>Notes: {{ vm.selectedResident.nutritionNotes }} </h4>

      </div>
    </div>
  </div>
</div>
