<div ng-if="vm.selectedResident === null">
  <h3>Select a resident to view details </h3>
</div>

<div ng-if="vm.selectedResident !== null">
<div class="mail-header">
    <div class="subject" flex>{{vm.selectedCategory}}</div>
</div>

<div class="mail-content">
    <div class="info" layout="row" layout-align="space-between start">

        <div layout="column" layout-align="start start">
              <!-- Add details content here -->
              <h4>Skin Condition : {{ vm.selectedResident.skinCondition }}</h4>

              <h4>Has wound : {{ vm.selectedResident.hasWound }}</h4>
                  <h4 ng-if="vm.selectedResident.hasWound">
                    Wound Description : {{ vm.selectedResident.hasWoundDescribe }}
                  </h4>
                  <h4 ng-if="vm.selectedResident.hasWound">
                    Wound Amount : {{ vm.selectedResident.woundAmount }}
                  </h4>

              <h4>Wears Hearing Aid : {{ vm.selectedResident.wearsHearingAid }}</h4>
                  <h4 ng-if="vm.selectedResident.wearsHearingAid">
                    Help with Hearing Aid : {{ vm.selectedResident.helpWithHearingAid }}
                  </h4>
                  <h4 ng-if="vm.selectedResident.wearsHearingAid">
                    Help With Hearing Aid Description : {{ vm.selectedResident.helpWithHearingAidDescribe }}
                  </h4>

              <h4>Hearing in Right Ear : {{ vm.selectedResident.rightEar }}</h4>
              <h4>Hearing in Left Ear : {{ vm.selectedResident.leftEar }}</h4>

              <h4>Hearing Notes : {{ vm.selectedResident.hearingNotes }}</h4>

              <h4>Vision in Right Eye : {{ vm.selectedResident.rightEye }}</h4>
              <h4>Vision in Left Eye : {{ vm.selectedResident.leftEye }}</h4>

              <h4>Vision Notes : {{ vm.selectedResident.visionNotes }}</h4>

              <h4>Dentist name : {{ vm.selectedResident.dentistName }}</h4>

              <h4>Upper Denture Does Not Fit : {{ vm.selectedResident.upperDentureFit }}</h4>
                  <h4>
                    Why Doesn't Upper Denture Fit : {{ vm.selectedResident.upperDentureFitDescribe }}
                  </h4>

              <h4>Upper Teeth Status : {{ vm.selectedResident.upperTeeth }}</h4>

              <h4>Lower Denture Fit : {{ vm.selectedResident.lowerDentureFit }}</h4>
                  <h4>
                    Why Doesn't Lower Denture Fit : {{ vm.selectedResident.lowerDentureFitDescribe }}
                  </h4>

              <h4>Lower Teeth Status : {{ vm.selectedResident.lowerTeeth }}</h4>
              <h4>Teeth Condition : {{ vm.selectedResident.teethCondition }}</h4>
        </div>

    </div>

</div>
</div>
