<div ng-if="vm.selectedResident === null">
  <h3>Select a resident to view details </h3>
</div>

<div ng-if="vm.selectedResident !== null">
  <div class="mail-header">
    <div class="subject" flex>{{vm.selectedCategory}}</div>
  </div>

  <div class="mail-content">
    <div class="info" layout="row" layout-align="space-between start">

      <div layout="column" layout-align="start start">
        <!-- Add details content here -->

        <h4>Psychosocial Status:
          <span ng-repeat="psychosocialStatus in vm.selectedResident.psychosocialStatus">
            {{ psychosocialStatus }} <span ng-if="!$last">,</span>
          </span>
        </h4>
        <h4>Describe the Psychosocial Status: {{ vm.selectedResident.psychosocialStatusDescribe}}</h4>
        <h4>Comprehension: {{ vm.mapComprehension(vm.selectedResident.comprehension) }}</h4>

        <h4>Smokes: {{ vm.selectedResident.smokes }}</h4>
        <h4 ng-if="vm.selectedResident.smokes">
          Smoke Description: {{ vm.selectedResident.smokesDescribe }}
        </h4>

        <h4>Alcohol: {{ vm.selectedResident.alcohol }}</h4>
        <h4 ng-if="vm.selectedResident.alcohol">
          Alcohol Description: {{ vm.selectedResident.alcoholDescribes }}
        </h4>

        <h4>Sexual Active: {{ vm.selectedResident.sexualActive }}</h4>
        <h4 ng-if="vm.selectedResident.sexualActive">
          Sexual Description: {{ vm.selectedResident.sexualActiveDescribe }}
        </h4>

        <h4>Other Habits: {{ vm.selectedResident.otherHabits }}</h4>

        <h4 ng-switch on="vm.selectedResident.generalActivityParticipation">
            <span ng-switch-when="0">General Activity Participation : Never</span>
            <span ng-switch-when="1">General Activity Participation : Sometimes</span>
            <span ng-switch-when="2">General Activity Participation : Good</span>
            <span ng-switch-when="3">General Activity Participation : Amazing</span>
            <span ng-switch-default>General Activity Participation : </span>
        </h4>

        <h4 ng-switch on="vm.selectedResident.diningRoomParticipation">
            <span ng-switch-when="0">Dining Room Participation : Never</span>
            <span ng-switch-when="1">Dining Room Participation : Sometimes</span>
            <span ng-switch-when="2">Dining Room Participation : Good</span>
            <span ng-switch-when="3">Dining Room Participation : Amazing</span>
            <span ng-switch-default>Dining Room Participation : </span>
        </h4>

        <h4 ng-switch on="vm.selectedResident.busRideParticipation">
            <span ng-switch-when="0">Bus Ride Participation : Never</span>
            <span ng-switch-when="1">Bus Ride Participation : Sometimes</span>
            <span ng-switch-when="2">Bus Ride Participation : Good</span>
            <span ng-switch-when="3">Bus Ride Participation : Amazing</span>
            <span ng-switch-default>Bus Ride Participation :</span>
        </h4>

        <h4 ng-switch on="vm.selectedResident.fitnessClassParticipation">
            <span ng-switch-when="0">Fitness Class Participation : Never</span>
            <span ng-switch-when="1">Fitness Class Participation : Sometimes</span>
            <span ng-switch-when="2">Fitness Class Participation : Good</span>
            <span ng-switch-when="3">Fitness Class Participation : Amazing</span>
            <span ng-switch-default>Fitness Class Participation :</span>
        </h4>

        <h4 ng-switch on="vm.selectedResident.bingoParticipation">
            <span ng-switch-when="0">Bingo Participation : Never</span>
            <span ng-switch-when="1">Bingo Participation : Sometimes</span>
            <span ng-switch-when="2">Bingo Participation : Good</span>
            <span ng-switch-when="3">Bingo Participation : Amazing</span>
            <span ng-switch-default>Bingo Participation : </span>
        </h4>

        <h4 ng-switch on="vm.selectedResident.communityParticipation">
            <span ng-switch-when="0">Community Participation : Never</span>
            <span ng-switch-when="1">Community Participation : Sometimes</span>
            <span ng-switch-when="2">Community Participation : Good</span>
            <span ng-switch-when="3">Community Participation : Amazing</span>
            <span ng-switch-default>Community Participation : </span>
        </h4>

        <h4>Has Car: {{ vm.selectedResident.drivesCar }}</h4>
        <h4 ng-if="vm.selectedResident.drivesCar">
          License Plate Number: {{ vm.selectedResident.licensePlateNumber }}
        </h4>
        <h4 ng-if="vm.selectedResident.drivesCar">
          Spare Key Location: {{ vm.selectedResident.spareKeyLocation }}
        </h4>
        <h4 ng-if="vm.selectedResident.drivesCar">
          Driving Needs: {{ vm.selectedResident.drivingNeeds }}
        </h4>

        <h4>Time In Room: {{ vm.selectedResident.timeInRoom }}</h4>
        <h4>Prefered Activites: {{ vm.selectedResident.preferedActivites }}</h4>
        <h4>Use Fitness Equipment Independently: {{ vm.selectedResident.useFitnessEquipmentIndependently }}</h4>

        <h4>High Maintenance: {{ vm.selectedResident.highMaintenance }}</h4>
        <h4>Family Involvement: {{ vm.selectedResident.familyInvolvement }}</h4>

        <h4 ng-switch on="vm.selectedResident.dementia">
            <span ng-switch-when="0">Dementia : None</span>
            <span ng-switch-when="1">Dementia : Mild</span>
            <span ng-switch-when="2">Dementia : Moderate</span>
            <span ng-switch-when="3">Dementia : Severe</span>
        </h4>

        <h4>Notes: {{ vm.selectedResident.psychosocialNotes }} </h4>

      </div>
    </div>
  </div>
</div>
